
<p>Key countries by cases reported</p>

<div id="loading" height=50px width=100px style="position:relative; text-align:center;">  
  <img src="https://media.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif" alt="Processing" />
</div>



  <div style="display: block" >
    <canvas baseChart  
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [colors]="barChartColors"
      [legend]="barChartLegend"
      [plugins]="lineChartPlugins"
      [chartType]="barChartType">
    </canvas>
  </div>
 


 


