<div class="container">
<ul class="nav nav-tabs">

  <li class="nav-items">
    <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>


  </li>
  <li class="nav-items">
    <a class="nav-link" routerLink="/my-bar-chart">Global Covid Stat</a>


  </li>
  <li class="nav-items">
    <a class="nav-link" routerLink="/radar-chart">Key Country</a>


  </li>
  <li class="nav-items">
    <a class="nav-link" routerLink="/allcountrystat">All Country Stats</a>


  </li>


</ul>

  <div>
    <router-outlet></router-outlet>

  </div>
</div>
